### IntelliJ ###
.idea/
*.iml

### Backend ###
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar

### Frontend ###
Frontend/node_modules/
Frontend/dist/
Frontend/.vite/

### Environment ###
.env
.env.*

### OS ###
.DS_Store
Thumbs.db